body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}



.container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}


.container-title {
    display: flex;
    height: 65vh;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}

.h1-api{
    color: #f3e5f5;
}

.container-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-custom{
    margin: 10px;
}

.flex{
    display: flex;
}

.w-100{
    width: 100%;
}

.w-50{
    width: 50%;
}
.w-75{
    width: 75%;
}

.center {
    align-items: center;
    justify-content: center;
}

.margin-20-top{
    margin-top: 20px
}

.margin-20-botton{
    margin-bottom: 20px
}

.margin-20{
    margin: 20px;
}

.cancel{
    background-color: red;
}

.confirm{
    background-color: green;
}
.background-white{
    background-color: #f3e5f5;
}
.border-radius-5px{
    border-radius: 5px;
}